<!DOCTYPE html>
<html>

<head>
    <title>v-model2.html</title>
</head>

<body>
    <div id="app">
        <h1>양방향실습</h1>
        양방향 데이터 바인딩으로 값을 받아내기 위해, 다중선택의 경우 배열을 이용해야하고 단일선택은 문자열로 값을 받아냅니다

        <div>
            <h2>사용가능한 언어</h2>
            <input type="checkbox" id="ca" value="java" v-model="hobby">
            <label for="ca">JAVA</label><br />

            <input type="checkbox" id="cb" value="html5" v-model="hobby">
            <label for="cb">HTML5</label><br />
            <hr>
            <h3>선택한 프로그램언어 : {{hobby}}</h3>
            <h3>선택한 프로그램언어 : {{hobby.join(',')}}</h3>
        </div>
        <div>
            <select v-model="occupation">
                <option value="">--희망직군을 선택하세요--</option>
                <option value="dev">개발</option>
                <option value="man">운영</option>
                <option value="inf">인프라</option>
            </select>
            <h3>선택한 희망직군 : {{occupation}}</h3>
        </div>
        <div>
            checkbox는 다중 선택의 목적으로도 사용되지만 하나의 checkbox로 선택,미선택으로 구분하여 값을 전달하는 경우가 있습니다.
            이 경우 선택했을때와 그렇지 않을 때 양방향 데이터바인딩으로 전달할 값을 지정할 수 있습니다.<br>
            <h4>
                <label for="agree1">위의 내용에 동의하십니까?</label>
                <input type="checkbox" id="agree1" v-model="agreeTrueFalse" />
                동의여부:{{agreeTrueFalse}}
            </h4>
            <hr>
            <h4>
                <label for="agree2">위의 내용에 동의하십니까?</label>
                <input type="checkbox" id="agree2" v-model="agreeYesNo" true-value="yes" false-value="no" />
                동의여부yes/no:{{agreeYesNo}}
            </h4>
        </div>
        <div>
            <h3>수식어</h3>
            <input type="text" v-model.number="num" />숫자로 자동변환:{{num}}<br />
            <input type="text" v-model.trim="message" />앞뒤공백제거된 메시지는{{message}}입니다
        </div>
    </div>
    <script src="https://unpkg.com/vue">
    </script>
    <script>
        var vm = Vue.createApp({
            name: "App",
            data() {
                return {
                    hobby: [],
                    occupation: "",
                    agreeTrueFalse: false, //기본값을 false
                    agreeYesNo: "no", //기본값을 no
                    num: 0,
                    message: ''
                };
            }
        }).mount("#app")

    </script>
</body>

</html>