<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>가입</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="app">
      <form class="signup" @submit.prevent="signup">
        <label for="id">아이디 : </label>
        <input type="text" id="id" name="id" v-model="id" required />
        <input type="button" value="아이디중복확인" @click="iddupchk" />
        <span>{{iddupchkSpan}}</span>

        <br />
        <label for="pwd1">비밀번호 : </label>
        <input type="password" id="pwd" name="pwd1" v-model="pwd" required />
        <br />
        <label for="pwd2">비밀번호 확인 : </label>
        <input type="password" id="pwd2" v-model="pwd2" required /><br />
        <label for="e">이메일 : </label>
        <input type="email" id="e" name="email" v-model="email" required />
        <br />

        <input type="submit" value="가입" />
        <input type="reset" value="초기화" />

        <button>가입</button
        ><!-- type="submit"효과 -->
        <button type="reset">초기화</button>
      </form>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return { id: '', iddupchkSpan: '', pwd: '', pwd2: '', email: '' };
        },
        methods: {
          iddupchk() {
            this.iddupchkSpan = `${this.id}는 사용가능한 아이디입니다`;
          },
          signup() {
            const formObj = document.querySelector('form.signup');

            if (this.pwd !== this.pwd2) {
              alert('비밀번호가 서로 다릅니다');
              return false;
            }

            formObj.method = 'post';
            formObj.action = 'http://localhost:3000/signup';
            formObj.submit();
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
